@model src.RealEstate.Admin.Models.BuildingType.BuildingTypeNewViewModel

@{
    ViewData["Title"] = "Yeni Yapı Türü";
}

@if (ViewData["NewBuildingTypeError"] != null)
{
    <div class="alert alert-danger"><b>@ViewData["NewBuildingTypeError"]</b></div>
}

<div class="card mb-4">
    <h6 class="card-header">
        Yeni Yapı Türü Ekle
    </h6>
    <div class="card-body">
        <form asp-controller="BuildingType" asp-action="New" method="POST" class="buildingtype-form">
            <div class="form-group">
                <label asp-for="BuildingTypeNameTR" class="form-label"></label>
                <input asp-for="BuildingTypeNameTR" class="form-control" placeholder="Betonarme">
            </div>
            <div class="form-group">
                <label asp-for="BuildingTypeNameEN" class="form-label"></label>
                <input asp-for="BuildingTypeNameEN" class="form-control" placeholder="Reinforced Concrete">
            </div>
            <button type="submit" class="btn btn-admin-primary">Kaydet</button>
            <a asp-controller="BuildingType" asp-action="List" class="back-link">Listeye Dön</a>
        </form>
    </div>
</div>