@model src.RealEstate.Admin.Models.EstateType.EstateTypeEditViewModel

@{
    ViewData["Title"] = "Emlak Türü Düzenle";
}

@if (TempData["EditEstateTypeMessage"] != null)
{
    <div class="alert alert-info"><b>@TempData["EditEstateTypeMessage"]</b></div>
}

<div class="card mb-4">
    <h6 class="card-header">
        Emlak Türü Düzenle
    </h6>
    <div class="card-body">
        <form asp-controller="EstateType" asp-action="Edit" method="POST"
            class="estatetype-form">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TypeNameTR" class="form-label"></label>
                <input asp-for="TypeNameTR" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="TypeNameEN" class="form-label"></label>
                <input asp-for="TypeNameEN" class="form-control">
            </div>
            <button type="submit" class="btn btn-admin-primary">Kaydet</button>
            <a href="javascript:void(0)" class="btn btn-danger" onclick="deleteEstateTypeConfirm('DeleteExternal','@Model.Id')">Sil</a>
            <a asp-controller="EstateType" asp-action="List" class="back-link">Listeye Dön</a>
        </form>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="/assets/vendor/libs/sweetalert2/sweetalert2.css">
}

@section Scripts{
    <script type="text/javascript" src="/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
}