@model src.RealEstate.Admin.Models.User.UserForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_AuthLayout";
}

<form asp-controller="User" asp-action="ForgotPassword" asp-antiforgery="true" method="POST"
    class="card forgotpassword-form">
    <div class="p-4 p-sm-5">
        <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
            <div>
                <div class="w-100 position-relative">
                    <img src="/assets/logo.png" class="auth-logo">
                </div>
            </div>
        </div>
        <h5 class="text-center text-muted font-weight-normal mb-4">Parola Sıfırlama</h5>
        <hr class="mt-0 mb-4">
        <div class="form-group">
            <input asp-for="Email" class="form-control" placeholder="E-posta adresinizi giriniz.">
        </div>
        <button type="submit" class="btn btn-admin-primary btn-block">Gönder</button>
    </div>
</form>