@model src.RealEstate.Admin.Models.User.UserResetPasswordViewModel

@{
    ViewData["Title"] = "Parola Sıfırlama";
    Layout = "_AuthLayout";
}

@if (ViewData["ResetPasswordError"] != null)
{
    <div class="alert alert-danger"><b>@ViewData["ResetPasswordError"]</b></div>
}

<div class="d-flex justify-content-center align-items-center">
    <div>
        <div class="w-100 position-relative">
            <img src="/assets/logo.png" class="auth-logo">
        </div>
    </div>
</div>
<form asp-controller="user" asp-action="ResetPassword" asp-antiforgery="true" method="POST"
    class="resetpassword-form my-5">
    <input type="hidden" asp-for="UserId">
    <input type="hidden" asp-for="ResetToken">
    <div class="form-group">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirm" class="form-label"></label>
        <input asp-for="PasswordConfirm" class="form-control">
    </div>
    <button type="submit" class="btn btn-admin-primary btn-block">Parolayı Sıfırla</button>
</form>