:root {
  --admin-primary: #2e313c;
  --admin-primary-hovered: #383b44;
}

.bg-admin-primary {
  background-color: var(--admin-primary);
}

.btn-admin-primary {
  background-color: var(--admin-primary);
  color: #ffffff;
}

.btn-admin-primary:hover {
  background-color: var(--admin-primary-hovered);
  color: #ffffff;
}

.auth-logo {
  height: 200px;
}

.layout-sidenav a {
  color: #a1a1a1;
}

.sidenav-item.active a {
  background-color: #434652;
  color: #ffffff;
}

.app-brand-logo {
  background-color: var(--admin-primary);
  height: 100%;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-brand-logo img {
  height: 60px;
}

.list-group-item.active {
  background-color: var(--admin-primary);
  color: #ffffff;
  border-color: var(--admin-primary);
}

.list-group-item.active:hover,
.list-group-item.active:active,
.list-group-item.active:focus {
  background-color: var(--admin-primary-hovered);
  color: #ffffff;
  border-color: var(--admin-primary-hovered);
}

.error {
  color: red;
}

.list-table thead tr {
  background-color: var(--admin-primary);
  color: #ffffff;
}

.id-column {
  width: 5%;
  text-align: center;
}

.active-status-column {
  width: 7%;
  text-align: center;
}

.sort-column {
  width: 3%;
  text-align: center;
}

.options-column {
  width: 10%;
  text-align: center;
}

.details-column {
  width: 15%;
  text-align: center;
}

.date-column {
  width: 15%;
}

.page-item.active .page-link {
  background-color: var(--admin-primary);
  color: #ffffff;
  border-color: var(--admin-primary);
}

.page-item.active .page-link:hover {
  background-color: var(--admin-primary-hovered);
  color: #ffffff;
  border-color: var(--admin-primary-hovered);
}

.back-link {
  margin-left: 15px;
}

.back-link:hover {
  text-decoration: underline;
}

.back-link-right {
  margin-right: 15px;
}

.back-link-right:hover {
  text-decoration: underline;
}

.edit-estate-img-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.edit-estate-img-wrapper {
  height: 100%;
  width: 100%;
}

.edit-estate-img-wrapper img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.edit-estate-img-container input {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
}

.image-column {
  width: 7%;
}

.image-column img {
  height: 40px;
  width: 80px;
  object-fit: cover;
  object-position: center;
}

.btn-file {
  background-color: var(--admin-primary);
  color: #ffffff;
  border-color: var(--admin-primary);
}

.btn-file:hover {
  background-color: var(--admin-primary-hovered);
  color: #ffffff;
  border-color: var(--admin-primary-hovered);
}

.homepage-slider-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.homepage-slider-wrapper {
  height: 100%;
  width: 100%;
}

.homepage-slider-container img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.homepage-slider-container input {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
}

.img-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.img-preview img {
  display: block;
  height: 75px;
  width: 100%;
}

.img-preview-details span {
  overflow: hidden;
}

.img-preview input {
  margin-top: 5px;
  width: 30%;
  border: 1px solid #a1a1a1;
}

.img-preview input:focus {
  border: 1px solid var(--admin-primary);
}

@media (max-width: 991px) {
  .app-brand-logo img {
    height: 45px;
  }

  .app-brand-logo {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 3px;
  }
}
